@font-face {
    font-family: "Stay Classy";
    src: url("./ressources/fonts/Stay\ Classy\ SLDT.otf"), url("./ressources/fonts/Stay\ Classy\ SLDT.ttf");
    /* Priorité : OWFF, OTF, TTF */
}

body {
    background-image: url(./ressources/palegradients_freebie-uniocs/png/paleactgradient-freebie-1.png);
    background-repeat: no-repeat;
    background-size: cover;

    /* Hauteur minimale de 100% de la fenêtre du navigateur */
    /* min-height: 100vh;  */

    /* Ou : */
    background-attachment: fixed;
}

.gift img {
    width: 300px;
    height: 210px;
    object-fit: cover;
    border-radius: 20px;
    object-position: 50% 60%;
}

.gift {
    background-color: transparent;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.gift a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: blue;
}

.gift a:hover {
    text-decoration: underline;
}

h1 {
    font-family: Stay Classy, sans-serif;
    text-align: center;
    font-size: 70px;
    font-weight: 600;
}

.gift:hover {
    transform: scale(1.05);
    background-color: rgba(226, 205, 11, 0.25);
}

p {
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#text{
    font-size: 2rem;
    font-family:'Courier New', Courier, monospace;
    /* text-transform: uppercase; */
    text-align: center;
  }
  #text:after{
    content: "";
    animation: clignote 0.7s infinite linear;
    width: 2px;
    height: 3rem;
    display: inline-block;
    background: rgb(14, 15, 22);;
  }
  @keyframes clignote {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }

  .container {
    margin: 10px auto;
    width: 80%;
  }

  .or-text {
    /* styles de votre choix, par exemple : */
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}
