@font-face {
    font-family: "Stay Classy";
    src: url("./ressources/fonts/Stay\ Classy\ SLDT.otf"), url("./ressources/fonts/Stay\ Classy\ SLDT.ttf");
    /* Priorité : OWFF, OTF, TTF */
}

body {
    /* background-image: url(./ressources/palegradients_freebie-uniocs/png/paleactgradient-freebie-1.png); */
    background-image: url(./ressources/noel_4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* Hauteur minimale de 100% de la fenêtre du navigateur */
    /* min-height: 100vh;  */

    /* Ou : */
    background-attachment: fixed;
    max-width: 90vw;
    margin: 0 auto;
    /* height: 50vh; */
}

.container {
  max-width: 90vw;
  height: 210px;
}

.gift img {
    width: 300px;
    height: 210px;
    object-fit: cover;
    border-radius: 20px;
    object-position: 50% 60%;
    margin-bottom: 15px;
}

.gift img:hover {
  box-shadow: 0 10px 10px rgba(87, 82, 42, 0.4);
  transition: 0.3s;
}

.gift {
    background-color: transparent;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.gift a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: blue;
}

.gift a:hover {
    text-decoration: underline;
}

h1 {
  font-family: Stay Classy, sans-serif;
  text-align: center;
  font-size: 90px;
  font-weight: 800;
  /* cursor: pointer; */
  /* color: rgb(212, 69, 17); */
  color: lightyellow;
  /* text-shadow: 
  1px 1px #919191,
  1px 2px #919191,
  1px 3px #919191,
  1px 4px #919191,
  1px 5px #919191,
  1px 6px #919191,
  1px 7px #919191,
  1px 8px #919191,
  1px 9px #919191,
  1px 18px 6px coral,
  1px 22px 10px coral,
  1px 25px 35px coral,
  1px 30px 60px coral; */
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00e6e6, 0 0 20px #0073e6,
    0 0 25px #e6cf00, 0 0 30px #0073e6, 0 0 35px #e60000;
}

/* h1:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00e6e6, 0 0 20px #0073e6,
    0 0 25px #e6cf00, 0 0 30px #0073e6, 0 0 35px #e60000;

} */

.gift:hover {
    transform: scale(1.05);
    background-color: rgba(226, 205, 11, 0.25);
}

p {
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#text{
    font-size: 2rem;
    font-family:'Courier New', Courier, monospace;
    color: #f1f1f1;
    /* text-transform: uppercase; */
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00e6e6, 0 0 20px #0073e6,
    0 0 25px #e6cf00, 0 0 30px #0073e6, 0 0 35px #e60000;
  }
  #text:after{
    content: "";
    animation: clignote 0.7s infinite linear;
    width: 2px;
    height: 3rem;
    display: inline-block;
    background: rgba(255, 255, 255, 0.712);
  }
  @keyframes clignote {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }

  .or-text {
    /* styles de votre choix, par exemple : */
    font-size: 35px;
    text-align: center;
    margin: 10px 0;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00e6e6, 0 0 20px #e6b000,
    0 0 25px #e6cf00, 0 0 30px #e69600, 0 0 35px #e60000;
    color: lightyellow;
}

.gift {
  font-size: 25px;
  font-weight: 900;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00e6e6, 0 0 20px #0073e6,
    0 0 25px #e6cf00, 0 0 30px #0073e6, 0 0 35px #e60000;
  color: seagreen;
  border-radius: 10px;
  border: solid 0.1px goldenrod;
}