@font-face {
    font-family: "Stay Classy";
    src: url("./ressources/fonts/Stay\ Classy\ SLDT.otf"), url("./ressources/fonts/Stay\ Classy\ SLDT.ttf");
    /* Priorité : OWFF, OTF, TTF */
}

body {
    /* background-image: url(./ressources/palegradients_freebie-uniocs/png/paleactgradient-freebie-1.png); */
    background-image: url(./ressources/noel_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* Hauteur minimale de 100% de la fenêtre du navigateur */
    /* min-height: 100vh;  */

    /* Ou : */
    background-attachment: fixed;
    max-width: 90vw;
    margin: 0 auto;
    /* height: 50vh; */
}

/* .gift-list {
  max-width: 800px;
  height: 100vh;
} */

.gift img {
    width: 300px;
    height: 210px;
    object-fit: cover;
    border-radius: 20px;
    object-position: 50% 60%;
    margin-bottom: 15px;
}

.gift img:hover {
  box-shadow: 0 10px 10px rgba(87, 82, 42, 0.4);
  transition: 0.2s;
}

.gift {
    background-color: transparent;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.gift a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: blue;
}

.gift a:hover {
    text-decoration: underline;
}

h1 {
  font-family: Stay Classy, sans-serif;
  text-align: center;
  font-size: 70px;
  font-weight: 600;
  cursor: pointer;
  color: rgb(212, 69, 17);
}

h1:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00e6e6, 0 0 20px #0073e6,
    0 0 25px #e6cf00, 0 0 30px #0073e6, 0 0 35px #e60000;

}

.gift:hover {
    transform: scale(1.05);
    background-color: rgba(226, 205, 11, 0.25);
}

p {
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#text{
    font-size: 2rem;
    font-family:'Courier New', Courier, monospace;
    /* text-transform: uppercase; */
    text-align: center;
  }
  #text:after{
    content: "";
    animation: clignote 0.7s infinite linear;
    width: 2px;
    height: 3rem;
    display: inline-block;
    background: rgb(14, 15, 22);;
  }
  @keyframes clignote {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }

  .container {
    margin: 10px auto;
    width: 80%;
  }

  .or-text {
    /* styles de votre choix, par exemple : */
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}
